{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
	- Blog
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<h1 class="mb-4 text-center">{{ article.title }}</h1>
		<p class="text-muted text-center">Publié le
			{{ article.createdAt|date('d/m/Y') }}</p>

		{# Affichage de l'image de l'article #}
		<div class="text-center mb-4">
			{% if article.imagePath %}
				<img src="{{ article.imagePath }}" alt="" width="10%">
			{% endif %}
		</div>

		{# Contenu de l'article #}
		<div class="article-content mb-4">
			{{ article.content|raw }}
		</div>

		{# Lien pour revenir à la liste des articles #}
		<div class="text-center">
			<a href="{{ path('blog_index') }}" class="btn btn-secondary mt-4">Retour à la liste des articles</a>
		</div>
	</div>
	{# ---------- commentaire ----------- #}
	{% if is_granted('ROLE_USER') %}


		<div class="container mt-5 mb-5 d-flex justify-content-center">
			<div class="card shadow w-50">
				<div class="card-body text-left">
					<h5 class="card-title text-center">Laisser un commentaire</h5>
					{{ form(commentaireForm) }}
						<div class="text-center">
							<button type="submit" class="btn btn-secondary mt-4">Envoyé
							</button>
						</div>
					</div>
				</div>
			</div>

		{% endif %}
	{% endblock %}
