{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
	- Blog
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<h1 class="mb-4 text-center">{{ article.title }}</h1>
		<p class="text-muted text-center">Publié le
			{{ article.createdAt|date('d/m/Y') }}</p>

		{# Affichage de l'image de l'article #}
		<div class="text-center mb-4">
			{% if article.imagePath %}
				<img src="{{ article.imagePath }}" alt="" width="10%">
			{% endif %}
		</div>

		{# Contenu de l'article #}
		<div class="article-content mb-4">
			{{ article.content|raw }}
		</div>

		{# Lien pour revenir à la liste des articles #}
		<div class="text-center">
			<a href="{{ path('blog_index') }}" class="btn btn-secondary mt-4">Retour à la liste des articles</a>
		</div>
	</div>
{% endblock %}
